body {
    background-image: url(./1-whytheweathe.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
}

.navbar {
    font-weight: bolder;
    font-size: xx-large;
    
}

