body {
    background-image: url(./1-whytheweathe.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}

.navbar-brand {
    background-image: unset;
    font-weight: bolder;
    font-size: xx-large;
   
}



